name: .NET Core

on: [push]

env:
  TargetNetNext: False

jobs:
  build:
    runs-on: windows-latest
    continue-on-error: true
    name: Run tests and pack
    steps:
    - name: Checkout repository
      uses: actions/checkout@v5
    
    - name: Use .NET version from global.json
      uses: actions/setup-dotnet@v5
      with:
        global-json-file: global.json
    
    - name: Setup .NET 8.0.x
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 8.0.x
  
    # Run the tests  
    - name: Build and test
      run: dotnet test -p:TargetNetNext=${{ env.TargetNetNext }} -v m --configuration Release Microsoft.Identity.Abstractions.sln

    # Pack the library
    - name: Pack
      run: dotnet pack -p:TargetNetNext=${{ env.TargetNetNext }} --configuration Release --no-restore --no-build -v m Microsoft.Identity.Abstractions.sln
